{% extends 'home/base.html' %}

{% block content%}

<h1>Customer {{ customer_record}}</h1>
<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Email:</strong>
{{ customer_record.email}}</li>
      <li class="list-group-item"><strong>Phone:</strong>{{ customer_record.phone}}</li>
      <li class="list-group-item"><strong>Address:</strong>{{ customer_record.address}}</li>
      <li class="list-group-item"><strong>City:</strong>{{ customer_record.city}}</li>
      <li class="list-group-item"><strong>State:</strong>{{ customer_record.state}}</li>
      <li class="list-group-item"><strong>ZipCode:</strong>{{ customer_record.zipcode}}</li>
      <li class="list-group-item"><strong>Created at:</strong>{{ customer_record.created_at}}</li>
  </ul>
</div>

<br/>
<a class="btn btn-secondary btn-lg" href="{% url 'home' %}" role="button">Back</a>
<a class="btn btn-outline-danger btn-lg" href="{% url 'delete' customer_record.id %}" role="button">Delete</a>
{% endblock %}


